.uploadEditBox {
    border: 1px solid grey;
    border-radius: 8px;
    display: flex;
    min-height: 560px;
}

/*
    Uploading image
*/
.uploadEditBox[data-stage="upload"] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadEditBox[data-stage="upload"] .uploadSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.uploadFile {
    display: none;
}

.uploadFileLabel {
    font-size: 30px;
}

.uploadFileLabel:hover {
    cursor: pointer;
    color: var(--orange);
}

.fa-upload {
    font-size: 40px;
}

/*
    Image edit
*/
.uploadEditBox[data-stage="editing"] {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    border: none;
}
.uploadEditBox[data-stage="editing"] form {
    display: none;
}
.templateWrapper {
    position: relative;
    overflow: hidden;
    cursor: move;
    z-index: 1;
    background: transparent;
    border-radius: 8px;
    max-width: 340px;
    width: 100%;
}
.templateWrapper:before {
    content: '';
    background-image: var(--before-bg-image);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}
.imageDrag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    cursor: grab;
    will-change: transform;
    transition: none;
    user-select: none;
}
.editSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 8px;
    background: #f7f7ff;
}
.uploadEditBox[data-stage="upload"] .editSide {
    display: none;
}
label {
    display: block;
    margin-bottom: 15px;
}
input[type="range"] {
    width: 300px;
    display: block;
    margin-bottom: 15px;
}
.reset {
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    border-width: 2px;
    line-height: 100%;
    display: inline-block;
    margin: 15px 0 10px;
    cursor: pointer;
}
.information li {
    display: flex;
}
.information li:before {
    content: "\00BB";
    margin-right: 8px;
}