{% extends 'base.html' %}
{% block title %}
	Obaly na iPhone {{ model['model'] }} s vlastním potiskem | Obalynazakazku.cz
{% endblock %}
{% block link %}
	<link rel="stylesheet" href="{{ url_for('static', filename='design/design.css') }}">
{% endblock %}
{% block content %}
	<div class="section-title">
        <h1>iPhone {{ model['model'] }}</h1>
    </div>
    <div class="uploadEditBox" data-stage="upload">
        <form action="#" method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="uploadSection">
                <i class="fa-solid fa-upload"></i>
                <label for="uploadFile" class="uploadFileLabel">Nahrát Obrázek</label>
                <input type="file" name="img" accept="image/" id="uploadFile" class="uploadFile">
            </div>
        </form>
        <div class="templateWrapper">
            <img src="" alt="Case image" class="imageDrag">
        </div>
        <div class="editSide">
            <div class="title">Úprava</div>
            <div class="range">
                <label for="size">
                    Velikost Obrázku <span class="amount"></span>%
                </label>
                <input type="range" name="size" class="sizeRange" id="size" value="100" min="1" max="600">
            </div>
            <div class="range">
                <label for="rotation">
                    Rotace Obrázku <span class="amount"></span>°
                </label>
                <input type="range" id="rotation" name="rotation" class="rotationRange" value="0" min="0" max="360">
            </div>
            <div class="range">
                <label for="transparency">
                    Neprůhlednost Obrázku <span class="amount"></span>%
                </label>
                <input type="range" name="transparency" id="transparency" class="transparencyRange" value="100" min="1" max="100">
            </div>
            <div class="title">Informace</div>
            <ul class="information">
                <li>Obrázek umístěte dle Vašich představ.</li>
                <li>S obrázkem můžete v náhledu libovolně manipulovat.</li>
                <li>Kdykoliv můžete tvorbu resetovat a začít znova.</li>
                <li>Jedná se o nezávaznou objednávku.</li>
                <li>Fotografie se netisknou na černém podkladu z důvodu snahy o co nejkvalitnější
                    výsledek.</li>
            </ul>
            <button class="reset" type="button">Resetovat</button>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='design/design.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const uploadForm = document.getElementById('uploadForm');
            const uploadFile = document.getElementById('uploadFile');
            const templateWrapper = document.querySelector('.templateWrapper');

            const data = {{ model | tojson }}

            uploadFile.addEventListener('change', function(event) {
                const formData = new FormData(uploadForm);

                formData.append('model', JSON.stringify(data));

                fetch('/refresh-editor', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.querySelector('.imageDrag').src = data.image_url;
                        templateWrapper.style.setProperty('--before-bg-image', `url(${data.model_template})`);
                        document.querySelector('.uploadEditBox').dataset.stage = 'editing';
                    })
                    .catch(error => {
                        console.error('Chyba při odesílání formuláře:', error);
                    });
            });
        });
    </script>
{% endblock %}