{% extends 'base.html' %}
{% block title %}
	Obaly na iPhone {{ model['model'] }} s vlastním potiskem | Obalynazakazku.cz
{% endblock %}
{% block link %}
	<link rel="stylesheet" href="{{ url_for('static', filename='design/design.css') }}">
{% endblock %}
{% block content %}
	<div class="section-title">
        <h1>iPhone {{ model['model'] }}</h1>
    </div>
    <div class="uploadEditBox" data-stage="upload">
        <div class="changeThis">
            {% include 'design/editor.html' %}
        </div>
        <div class="inputs">
            <div class="title"></div>
            <div class="range">
                <label for="size">
                    Velikost Obrázku <span class="amount"></span>%
                </label>
                <br>
                <input type="range" name="size" class="sizeRange" id="size" value="100">
            </div>
            <div class="range">
                <label for="rotation">
                    Rotace Obrázku <span class="amount"></span>°
                </label>
                <br>
                <input type="range" id="rotation" name="rotation" class="rotationRange" value="0" max="360">
            </div>
            <div class="range">
                <label for="transparency">
                    Neprůhlednost Obrázku <span class="amount"></span>%
                </label>
                <br>
                <input type="range" name="transparency" id="transparency" class="transparencyRange" value="100">
            </div>
            <div class="range">
                <label for="zoom">
                    Zoom Obrázku <span class="amount"></span>%
                </label>
                <br>
                <input type="range" name="zoom" id="zoom" class="zoomRange" value="100">
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='design/design.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const uploadForm = document.getElementById('uploadForm');
            const uploadFile = document.getElementById('uploadFile');

            const data = {{ model | tojson }}

            uploadFile.addEventListener('change', function(event) {
                const formData = new FormData(uploadForm);

                formData.append('model', JSON.stringify(data));

                fetch('/refresh-editor', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.text())
                    .then(html => {
                        document.querySelector('.changeThis').outerHTML = html;
                        document.querySelector('.uploadEditBox').dataset.stage = 'editing';
                    })
                    .catch(error => {
                        console.error('Chyba při odesílání formuláře:', error);
                    });
            });
        });
    </script>
{% endblock %}