<div class="uploadEditBox" data-stage="{{ stage }}">
    {% if stage == 'editing' %}
            <img src="{{ image_url }}" alt="Case image">
    {% else %}
        <form action="#" method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="uploadSection">
                <i class="fa-solid fa-upload"></i>
                <label for="uploadFile" class="uploadFileLabel">Nahrát Obrázek</label>
                <input type="file" name="img" accept="image/" id="uploadFile" class="uploadFile">
            </div>
        </form>
    {% endif %}
</div>