:root {
    --dark-blue: #1e2172eb;
    --semi-dark-blue: #565acf;
    --light-blue: #5650cf;
    --text-color: #414141;
    --orange: #f17732;
    --white: #fff;
    --border-color: #565acf3d;
}

* {
    box-sizing: border-box;
    transition: all .5s;
}

body {
    margin: 0;
    color: var(--text-color);
    line-height: 150%;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--dark-blue);
    text-decoration: none;
}
a:hover {
    color: var(--orange);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    padding: 5px 15px;
    display: block;
    font-size: 16px;
}

nav ul li.telephone {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

nav ul li.telephone a {
    background-color: var(--semi-dark-blue);
    color: var(--white);
    padding: 7px 20px 7px 25px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    border-width: 2px;
    line-height: 100%;
}

nav ul li.telephone i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--dark-blue);
    margin-left: 6px;
}

footer {
    background-image: url("/static/images/footer-background.webp");
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 200px;
}

.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.copyright {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--border-color);
    padding: 30px 0;
}

.copyright a {
    margin-left: 5px;
    color: var(--orange);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.col-1 p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

.col-1 .image {
    max-width: 270px;
    width: 100%;
    min-height: 70px;
}

.col-1 .image img {
    width: 100%;
    height: auto;
}

.aboutContact {
    display: flex;
    margin-top: 30px;
}

.aboutContact .icon i {
    font-size: 24px;
    color: #fff;
    margin-right: 15px;
    background-color: #f17732;
    border-radius: 30px 30px 0 30px;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
}